.contact-page {
    background-color: #70aae4;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.contact {
    background-color: #b1adad;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: #343a40;
}

p {
    font-size: 16px;
    color: #363a3d;
    margin-bottom: 20px;
}

