.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
}

.read-more-link {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}